* {
    padding: 0;
    margin: 0;
}
.box {
    width: 1200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}
.img-box {
    width: 100%;
    text-align: center;
    margin: 20px;
}
.box img {
    max-width: 100%;
}
